<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">
    <img src="assets/bank-logo.png" alt="logo de la banque" class="w-24 mx-auto mb-6" />

    <!-- Titre -->
    <h2 class="text-2xl md:text-3xl font-bold text-center mb-6">
      Ouvrir un nouveau compte
    </h2>

    <form [formGroup]="accountForm" (ngSubmit)="create()" class="space-y-4">

      <!-- Champ label du compte -->
      <div>
        <label for="label" class="block text-gray-700 font-semibold mb-1">Nom de compte </label>
        <input
          type="text"
          id="label"
          formControlName="label"
          placeholder="Livret A"
          class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-yellow-400 focus:border-yellow-400 outline-none">
      </div>


      <!-- Champ balance initiale -->
      <div>
        <label for="initialBalance">Balance Initiale </label>
        <div class="flex items-center gap-2">
          <input
            type="number"
            id="initialBalance"
            formControlName="initialBalance"
            placeholder="1000"
            class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-yellow-400 focus:border-yellow-400 outline-none">
        </div>
      </div>

      <button
        type="submit"
        [disabled]="accountForm.invalid"
        class="w-full bg-yellow-600 text-white py-2 rounded-lg font-medium hover:bg-yellow-700 active:bg-yellow-800 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition">
        Valider
      </button>

      <p class="text-black-600 text-sm">
       <a routerLink="/" class="text-yellow-600 hover:underline text-yellow-600">Retour aux comptes</a>
      </p>


    </form>
  </div>
</div>
