<div class="">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- Champ code client -->
    <div class="">
      <label for="clientCode">Code Client </label>
      <input
        type="text"
        id="clientCode"
        formControlName="clientCode"
        placeholder="12345678"
        maxlength="8">
    </div>


    <!-- Champ Password -->
    <div class="">
      <label for="password">Password </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="******"
        maxlength="6">
    </div>

    <button (click)="submit()"
            class="px-4 py-2 rounded-lg bg-green-600 text-white font-medium
         hover:bg-green-700 active:bg-green-800
         focus:outline-none focus:ring-2 focus:ring-green-400
         transition">
      Login</button>
  </form>
</div>
